*{
    background-color: #eee;
}

.ladoIzqPokedex{
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    width: 452px;
    height: 605px;
    background-color: #941828;
}
.segundaCApa{
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    left: 20px;
    width: 452px;
    height: 605px;
    background-color: #ce1131;
}
.circuloBlanco{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    left: 15px;
    top: 10px;
    border-radius: 90px;
    height: 95px;
    width: 95px;
    background-color: white;
} 

.circuloAzul{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    left: 12px;
    top: 6px;
    border-radius: 90px;
    height: 75px;
    width: 75px;
    background-color: #009cd4;
}
.circuloAzul1{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    left: 4px;
    top: 1px;
    border-radius: 90px;
    height: 60px;
    width: 60px;
    background-color: #0acdfe;
}
.circuloAzul2{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    left: 23px;
    top: 10px;
    border-radius: 90px;
    height: 17px;
    width: 17px;
    background-color: #9ce7fe;
}
.circulosDeColores{
    height: 0px;
    width: 100px;
    position: relative;
    top: 10px;
    left: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}
.rojo{
    display: flex;
    flex-wrap: wrap;
    border-radius: 90px;
    height: 25px;
    width: 25px;
    background-color: #eb0508;
}
.sombraRoja{
    display: flex;
    flex-wrap: wrap;
    border-radius: 90px;
    height: 20px;
    width: 20px;
    background-color: #970302;
}
.sombreaDeSombraR{
    border-radius: 90px;
    height: 15px;
    width: 15px;
    background-color: #eb0508;
}
.amarillo{
    display: flex;
    flex-wrap: wrap;
    border-radius: 90px;
    height: 25px;
    width: 25px;
    background-color: #e2e60f;
}
.sombraAmarilla{
    display: flex;
    flex-wrap: wrap;
    border-radius: 90px;
    height: 20px;
    width: 20px;
    background-color: #7c840c;
}
.sombreaDeSombraA{
    border-radius: 90px;
    height: 15px;
    width: 15px;
    background-color: #e2e60f;
}

.amarillo1{
    display: flex;
    flex-wrap: wrap;
    border-radius: 90px;
    height: 25px;
    width: 25px;
    background-color: #e2e60f;
}
.sombraAmarilla1{
    display: flex;
    flex-wrap: wrap;
    border-radius: 90px;
    height: 20px;
    width: 20px;
    background-color: #7c840c;
}
.sombreaDeSombraA1{
    border-radius: 90px;
    height: 15px;
    width: 15px;
    background-color: #e2e60f;
}

.contenedorDeForme{
    position: absolute;
    
    width: 400px;
    height: 585px;
    background-color:#bd0f34;
    border-style: solid;
    border-top: none;
    border-bottom-left-radius: 20px;
    
    /* border-radius: 60% 50% 50% 90% / 44% 100% 0% 56% ; */
    
}
.recipientRed{
    height: 110px;
    display: flex;
    flex-wrap: wrap;
    background-color: #ce1131;
}


.line{
    position: absolute;
    top: 100px;
    width: 120px;
    height: 20px;
    background-color: #941828;
    border-top-right-radius: 90px;
    border-bottom-right-radius: 90px;
    
}


.line90{
    position: absolute;
    top: 69px;
    left: 99px;
    width: 190px;
    height: 20px;
    background-color: #941828;
    transform: rotate(-20deg);
    border-top-left-radius: 90px;
    border-bottom-left-radius: 90px;
    border-top-right-radius: 90px;
    border-bottom-right-radius: 90px;
    

}


.line1{
    position: absolute;
    top: 40px;
    left: 260px;
    width: 140px;
    height: 20px;
    background-color: #941828;
    border-top-left-radius: 90px;
    border-bottom-left-radius: 90px;
    
}
.anotherObject{
    position: relative;
    left: 130px;
    bottom: 65px;
    transform: rotate(-20deg);
    height: 30px;
    width: 90px;
    background-color: #ce1131;
}
.rellenador{
    position: relative;
    left: 278px;
    bottom: 80px;
    width: 122px;
    height: 50px;
    background-color: #bd0f34;
}
.itemsContainer{
    position: absolute;
    left: 138px;
    top: 61px;
    transform: scaleX(-1);
    border-right: 71px solid #941828;
    border-top: 25px solid #941828;
    border-left: 71px solid #bd0f34;
    border-bottom: 25px solid #bd0f34;
    display: flex;
    flex-wrap: wrap;
}

.cover{
    position: absolute;
    left: 403px;
    height: 40px;
    width: 3px;
    background-color: #ce1131;
}

.cover1{
    position: absolute;
    right: 449px;
    height: 100px;
    width: 3px;
    background-color: #ce1131;
}

.cover3{
    position: absolute;
    top: 99px;
    right: 340px;
    height: 3px;
    width: 112px;
    background-color: black;
}

.cover4{
    position: absolute;
    top: 69px;
    right: 172px;
    transform: rotate(-20deg);
    height: 3px;
    width: 174px;
    background-color: black;
}
.cover5{
    position: absolute;
    top: 40px;
    left: 270px;
    height: 3px;
    width: 136px;
    background-color: black;
}
.rightBar{
    position: relative;
    bottom: 564px;
    left: 430px;
    width: 35px;
    height: 547px;
    background-color: #ce1131;
    border-radius: 10px 10px  / 10px 10px  ; 
    border-style: solid;
    border-width: 2px;
}
.reel{
    position: relative;
    top: 40px;
    height: 10px;
    width: 33px;
    border-style: solid;
    background-color: #ce1131;
    border-width: 1px;

}
.reelC{
    position: relative;
    left: 19px;
    height: 9px;
    width: 5px;
    border-style: solid;
    background-color: #ce1131;
    border-width: 1px;
}
.reel1{
    position: relative;
    top: 480px;
    height: 10px;
    width: 33px;
    border-style: solid;
    background-color: #ce1131;
    border-width: 1px;
}
.circleB{
    
}