*{
    background-color: #eee;
}

.ladoIzqPokedex{
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    width: 452px;
    height: 605px;
    background-color: #941828;
}
.segundaCApa{
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    left: 20px;
    width: 452px;
    height: 605px;
    background-color: #ce1131;
}
.circuloBlanco{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    left: 9px;
    top: 13px;
    border-radius: 90px;
    height: 90px;
    width: 90px;
    background-color: white;
} 

.circuloAzul{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    left: 12px;
    top: 6px;
    border-radius: 90px;
    height: 70px;
    width: 70px;
    background-color: #009cd4;
}
.circuloAzul1{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    left: 4px;
    top: 1px;
    border-radius: 90px;
    height: 60px;
    width: 60px;
    background-color: #0acdfe;
}
.circuloAzul2{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    left: 23px;
    top: 10px;
    border-radius: 90px;
    height: 17px;
    width: 17px;
    background-color: #9ce7fe;
}
.circulosDeColores{
    height: 0px;
    width: 100px;
    position: relative;
    top: 10px;
    left: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}
.rojo{
    display: flex;
    flex-wrap: wrap;
    border-radius: 90px;
    height: 25px;
    width: 25px;
    background-color: #eb0508;
}
.sombraRoja{
    position: relative;
    top: 3px;
    left: 3px;
    display: flex;
    flex-wrap: wrap;
    border-radius: 90px;
    height: 20px;
    width: 20px;
    background-color: #970302;
}
.sombreaDeSombraR{
    border-radius: 90px;
    height: 15px;
    width: 15px;
    background-color: #eb0508;
}
.amarillo{
    display: flex;
    flex-wrap: wrap;
    border-radius: 90px;
    height: 25px;
    width: 25px;
    background-color: #e2e60f;
}
.sombraAmarilla{
    position: relative;
    top: 3px;
    left: 3px;
    display: flex;
    flex-wrap: wrap;
    border-radius: 90px;
    height: 20px;
    width: 20px;
    background-color: #7c840c;
}
.sombreaDeSombraA{
    border-radius: 90px;
    height: 15px;
    width: 15px;
    background-color: #e2e60f;
}

.amarillo1{
    display: flex;
    flex-wrap: wrap;
    border-radius: 90px;
    height: 25px;
    width: 25px;
    background-color: #e2e60f;
}
.sombraAmarilla1{
    position: relative;
    top: 3px;
    left: 3px;
    display: flex;
    flex-wrap: wrap;
    border-radius: 90px;
    height: 20px;
    width: 20px;
    background-color: #7c840c;
}
.sombreaDeSombraA1{
    border-radius: 90px;
    height: 15px;
    width: 15px;
    background-color: #e2e60f;
}

.contenedorDeForme{
    position: absolute;
    
    width: 400px;
    height: 585px;
    background-color: #bd0f34;
    border-style: solid;
    border-top: none;
    border-bottom-left-radius: 20px;
    
    /* border-radius: 60% 50% 50% 90% / 44% 100% 0% 56% ; */
    
}
.recipientRed{
    height: 110px;
    display: flex;
    flex-wrap: wrap;
    background-color: #ce1131;
}


.line{
    position: absolute;
    top: 100px;
    width: 120px;
    height: 20px;
    background-color: #941828;
    border-top-right-radius: 90px;
    border-bottom-right-radius: 90px;
    
}


.line90{
    position: absolute;
    top: 69px;
    left: 99px;
    width: 190px;
    height: 20px;
    background-color: #941828;
    transform: rotate(-20deg);
    border-top-left-radius: 90px;
    border-bottom-left-radius: 90px;
    border-top-right-radius: 90px;
    border-bottom-right-radius: 90px;
    

}


.line1{
    position: absolute;
    top: 40px;
    left: 260px;
    width: 140px;
    height: 20px;
    background-color: #941828;
    border-top-left-radius: 90px;
    border-bottom-left-radius: 90px;
    
}
.anotherObject{
    position: relative;
    left: 130px;
    bottom: 65px;
    transform: rotate(-20deg);
    height: 30px;
    width: 90px;
    background-color: #ce1131;
}
.rellenador{
    position: relative;
    left: 278px;
    bottom: 80px;
    width: 122px;
    height: 50px;
    background-color: #bd0f34;
}
.itemsContainer{
    position: absolute;
    left: 138px;
    top: 61px;
    transform: scaleX(-1);
    border-right: 71px solid #941828;
    border-top: 25px solid #941828;
    border-left: 71px solid #bd0f34;
    border-bottom: 25px solid #bd0f34;
    display: flex;
    flex-wrap: wrap;
}

.colorObjectsCircle{
    position: relative;
    display: flex;
    bottom: 200px;
    height: 100px;
    width: 100px;
    background-color: rgba(255, 255, 255, 0); 
}

.colorObjectsColors{
    position: relative;
    bottom: 280px;
    left: 100px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    width: 120px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0);
}

.controlsSpace{
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    left: 5px;
    bottom: 8px;
    height: 457px;
    width: 390px;
    background-color: #bd0f34;
}
.pokeContainerShadow{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    left: 19px;
    top: 20px;
    display: flex;
    flex-wrap: wrap;
    height: 300px;
    width: 350px;
    background-color: #686972;
    border-radius: 10px;
}
.pokeContainerBaseColor{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    left: 10px;
    top: 0px;
    display: flex;
    flex-wrap: wrap;
    height: 290px;
    width: 340px;
    background-color: #dedede;
    border-radius: 10px;
}
.minicover{
    position: relative;
    transform: rotate(-51deg);
    bottom: 57px;
    right: 30px;
    width: 10px;
    height: 80px;
    background-color: #686972;
}

.pokeImage{
    position: relative;
    top: 30px;
    left: 22px;
    height: 200px;
    width: 300px;
    background-color: #545358;
}
.containerCover{
    position: relative;
    bottom: 40px;
    width: 0;
    height: 0;
    border: 0 solid #dedede;
    border-right-width: 60px;
    border-left-width: 0px;
    border-bottom: 50px solid #bd0f34;
    
}  
.redCircles{
    position: absolute;
    left: 147px;
    top: 10px;
    display: flex;
    flex-wrap: wrap;
    width: 50px;
    background-color: #dedede;
    justify-content: space-between;

}
.redCircle1{
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #d20a3e;
    border-style: solid;
    border-width: 1px;
}
.redCircle2{
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #d20a3e;
    border-style: solid;
    border-width: 1px;

}
.redCirclesBoot{
    position: absolute;
    bottom: 20px;
    left: 50px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #d20a3e;
    border-style: solid;
    border-width: 1px;
}
.soundLines{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 11px;
    left: 235px;
    height: 59px;
    width: 100px;
    display: flex;
    flex-wrap: wrap;
    background-color: #dedede;
}
.soundLine1{
    height: 8px;
    width: 80px;
    border-radius: 10px;
    background-color: black;
}
.soundLine2{
    height: 8px;
    width: 80px;
    border-radius: 10px;
    background-color: black;
}
.soundLine3{
    height: 8px;
    width: 80px;
    border-radius: 10px;
    background-color: black;
}
.soundLine4{
    height: 8px;
    width: 80px;
    border-radius: 10px;
    background-color: black;
}
.bottonsSecction{
    position: absolute;
    bottom:5px;
    left: 5px;
    height: 130px;
    width: 385px;
    background-color: #bd0f34;
}

.circleButon{
    position: relative;
    top: 10px;
    left: 12px;
    border-radius: 50%;
    box-shadow: -3px 3px 0px 3px rgba(0,0,0,1);
    width: 55px;
    height: 55px;
    background-color: #222222;
}
.redButton{
    position: relative;
    left: 90px;
    bottom: 45px;
    height: 13px;
    width: 65px;
    border-radius: 20px;
    background-color: #c70c13;
}
.blueButton{
    position: relative;
    left: 180px;
    bottom: 58px;
    height: 13px;
    width: 65px;
    border-radius: 20px;
    background-color: #095378;
}
.greenSpace{
    position: relative;
    left: 77px;
    bottom: 30px;
    height: 70px;
    width: 160px;
    background-color: #55ab62;
    border-radius: 8px;
}
.tingOnTPosseBase{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    position: relative;
    bottom: 150px;
    left: 257px;
    height: 120px;
    width: 120px;
    background-color: #262626;
}
.coverofTBAse1{
    position: relative; 
    right: 9px;
    bottom: 9px;
    width: 0;
    height: 0;
    border: 0 solid #bd0f34;
    border-right-width: 0px;
    border-left-width: 42px;
    border-bottom: 42px solid #bd0f34;
    

}
.coverofTBAse2{
    position: relative;
    left: 10px;
    bottom: 9px;
    width: 0;
    height: 0;
    border: 0 solid #bd0f34;
    border-right-width: 42px;
    border-left-width: 0px;
    border-bottom: 42px solid #bd0f34;

}
.coverofTBAse3{
    position: relative;
    right: 9px;
    top: 9px;
    width: 0;
    height: 0;
    border: 0 solid #bd0f34;
    border-right-width: 0px;
    border-left-width: 42px;
    border-top: 42px solid #bd0f34;
    
}
.coverofTBAse4{
    position: relative;
    left: 10px;
    top: 9px;
    width: 0;
    height: 0;
    border: 0 solid #bd0f34;
    border-right-width: 42px;
    border-left-width: 0px;
    border-top: 42px solid #bd0f34;
    
}
.shadowOfT{
    position: relative;
    bottom: 270px;
    left: 298px;
    height: 42px;
    width: 3px;
    background-color: black;
}
.shadowOfT1{
    position: relative;
    left: 256px;
    bottom: 272px;
    height: 3px;
    width: 45px;
    background-color: black;
}
.shadowofT2{
    position: relative;
    left: 254px;
    bottom: 275px;
    height: 40px;
    width: 3px;
    background-color: black;
}
.shadowofT3{
    position: relative;
    left: 254px;
    bottom: 278px;
    height: 5px;
    width: 45px;
    background-color: black;
}
.shadowofT4{
    position: relative;
    left: 297px;
    bottom: 280px;
    height: 42px;
    width: 5px;
    background-color: black;
}
.shadowofT5{
    position: relative;
    left: 297px;
    bottom: 282px;
    height: 5px;
    width: 40px;
    background-color: black;
}
.circleOfT{
    border-style: solid;
    border-radius: 50%;
    position: relative;
    left: 298px;
    bottom: 363px;
    height: 30px;
    width: 30px;
    background-color: #232323;
}

.cover{
    position: absolute;
    left: 403px;
    height: 40px;
    width: 3px;
    background-color: #ce1131;
}

.cover1{
    position: absolute;
    right: 449px;
    height: 100px;
    width: 3px;
    background-color: #ce1131;
}

.cover3{
    position: absolute;
    top: 99px;
    right: 340px;
    height: 3px;
    width: 112px;
    background-color: black;
}

.cover4{
    position: absolute;
    top: 69px;
    right: 172px;
    transform: rotate(-20deg);
    height: 3px;
    width: 174px;
    background-color: black;
}
.cover5{
    position: absolute;
    top: 40px;
    left: 270px;
    height: 3px;
    width: 136px;
    background-color: black;
}
.cover6{
    position: absolute;
    top: 40px;
    right: 10px;
    height: 3px;
    width: 112px;
    background-color: black;
}
.rightBar{
    position: relative;
    bottom: 564px;
    left: 430px;
    width: 35px;
    height: 547px;
    background-color: #ce1131;
    border-radius: 10px 10px  / 10px 10px  ; 
    border-style: solid;
    border-width: 2px;
}
.reel{
    position: relative;
    top: 40px;
    height: 10px;
    width: 33px;
    border-style: solid;
    background-color: #ce1131;
    border-width: 1px;

}
.reelC{
    position: relative;
    left: 19px;
    height: 9px;
    width: 5px;
    border-style: solid;
    background-color: #ce1131;
    border-width: 1px;
}
.reel1{
    position: relative;
    top: 480px;
    height: 10px;
    width: 33px;
    border-style: solid;
    background-color: #ce1131;
    border-width: 1px;
}
.circleBarTop{
    position: absolute;
    bottom: 529px;
    height: 21px;
    width: 35px;
    background-color: black;
    border-radius: 50%;
}
.circleBarBoot{
    position: absolute;
    top: 530px;
    height: 21px;
    width: 35px;
    background-color: black;
    border-radius: 50%;
}


/* --------------------------segunda seecion de la pokedex --------------------------------------------------*/
.ladoDerBasePokedex{
    position: relative;
    bottom: 604px;
    left: 472px;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    width: 452px;
    height: 605px;
    background-color: #eee;
}
.ladoDerPokedex{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    top: 38px;
    width: 400px;
    height: 550px;
    background-color: #ce1131;
}
.containerDer{
    display: flex;
    flex-wrap: wrap;
    position: relative;ce1131
    top: 10px;
    width: 380px;
    height: 530px;
    background-color: #ce1131;
    border-style: solid;
    border-width: 3px;
}

.lineDer{
    position: absolute;
    left: 0px;
    width: 120px;
    height: 20px;
    background-color: #941828;
    border-top-right-radius: 90px;
    border-bottom-right-radius: 90px;
    
}


.line90Der{
    position: absolute;
    top: 30px;
    left: 99px;
    width: 190px;
    height: 20px;
    background-color: #941828;
    transform: rotate(20deg);
    border-top-left-radius: 90px;
    border-bottom-left-radius: 90px;
    border-top-right-radius: 90px;
    border-bottom-right-radius: 90px;
    

}


.line1Der{
    position: absolute;
    top: 59px;
    left: 260px;
    width: 120px;
    height: 20px;
    background-color: #941828;
    border-top-left-radius: 90px;
    border-bottom-left-radius: 90px;
    
} 

.shadowDer{
    position: absolute;
    top: 60px;
    left: 276px;
    height: 3px;
    width: 104px;
    background-color: black;
}

.shadowDer1{
    position: absolute;
    top: 30px;
    left: 108px;
    transform: rotate(21deg);
    height: 3px;
    width: 174px;
    background-color: black;
}

.coverDer{
    position: relative;
    right: 230px;
    bottom: 33px;
    height: 150px;
    transform: rotate(-69deg);
    width: 50px;
    background-color: #eee;
}
.coverDer1{
    position: relative;
    bottom: 501px;
    left: 263px;
    width:30px;
    transform: rotate(21deg);
    height: 50px;
    background-color: #eee;
}
.coverDer2{
    position: relative;
    bottom: 561px;
    left: 253px;
    height: 110px;
    width: 119px;
    background-color: #eee;
    
}
.coverDer3{
    position: relative;
    bottom: 525px;
    left: 45px;
    width: 90px;
    height: 40px;
    background-color:  #eee;
}

.contenairObjectsDer{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    top: 81px;
    left: 6px;
    height: 440px;
    width: 360px;
    border-style: solid;
    background-color: #ce1131;
}
.statsWindow{
    position: relative;
    left: 21px;
    width: 320px;
    height: 150px;
    background-color: rgb(84, 83, 88);
}
.blueSquaresShadow{
    position: relative;
    bottom: 30px;
    left: 21px;
    width: 320px;
    height: 80px;
    background-color: #2065ec;
}

.blueSquares{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    bottom: 156px;
    left: 31px;
    width: 310px;
    height: 70px;
    background-color: #31a7f1;
}

.lineDer1{
    position: relative;
    
    height:70px;
    width: 1px;
    background-color: black;
}
.lineDer2{
    height:70px;
    width: 3px;
    background-color: black;
}
.lineDer3{
    height:70px;
    width: 3px;
    background-color: black;
}
.lineDer4{
    height:70px;
    width: 3px;
    background-color: black;
}
.lineDer5{
    height:70px;
    width: 3px;
    background-color: black;
}
.lineRect{
    position: relative;
}